<div>
  <div>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">

        <div class="img bg-wrap text-center py-4" style="background-image: url(assets/menu/images/iscae.jpg);">
          <div class="user-logo">
            <div class="img" style="background-image: url(assets/menu/images/logo.jpg);"></div>

          </div>
        </div>
        <ul class="list-unstyled components mb-5" >
          <li class="active">
            <a routerLink="/"><span class="fa fa-home mr-3"></span> Acceuil</a>
          </li>
          <li  *ngIf="isEnsigniant()">
            <a routerLink="/Listepropose"><span class="fa fa-gift mr-3"></span> Notre_Propositions</a>
          </li>
          <li *ngIf="isEtudiant()">
            <a  routerLink="/ProposeEnsegniant"  ><span class="fa fa-gift mr-3"></span>  Soumission</a>
          </li>

          <li *ngIf="isEtudiant()">
            <a  routerLink="/Listepropose"  ><span class="fa fa-gift mr-3"></span>  Notre_Propositions</a>
          </li>
          <li>
            <a *ngIf= "isAuthenticated()"   routerLink="/login"><span class="fa fa-sign-out mr-3"></span> Connecter</a>
            <a  *ngIf= "isAuthenticated()"  (click)= "LogOut()"><span class="fa fa-sign-out mr-3"></span> Deconnecter</a>
          </li>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <router-outlet>

        </router-outlet>

      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
