<div>
  <h4 class="text-success my-3"> Mmembre Du  Jury</h4>


  <table class="table table-hover table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-success">Nom</th>
        <th scope="col" class="text-success">Rôle</th>
        <th scope="col" class="text-success">Domain Expertise</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Dr Chavi Med vall</th>
        <td>President</td>
        <td>Intelligence artificielle</td>
      </tr>
      <tr>
        <th scope="row">Dr Cheikh Atigh</th>
        <td>Rapporteur</td>
        <td>System embarqué</td>
      </tr>
      <tr>
        <tr>
          <th scope="row">Dr Tiyeb Cheigur</th>
          <td>Menbre</td>
          <td>Sécurité informatique</td>
        </tr>
        
    </tbody>
  </table>
</div>